body, html {
    margin: 0;
    padding: 0;
    width:100vw;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden; 
}

.landing-page{

   
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #B9A995 url('./brand.jpeg') no-repeat right center;
    background-size: cover; /*auto 100%; */ 
    /* padding-left: 20px; */
    overflow-x:hidden; 

}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
}

.waitlist-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* max-width: 600px; */
    padding: 20px;
    box-sizing: border-box;
/*     margin-top: calc(100vh / 4);
    margin-left: calc(100vw / 60); */
}

.content-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 600px;
    margin-top: calc(100vh / 2.8);
    box-sizing: border-box;
    margin-left: calc(100vw/7);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    font-size: 1.2em;
    margin: 7px 0;
}

.email-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}


.email-input{
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    box-sizing: border-box;
    margin-right: 0px;
    height: 50px;
    vertical-align: middle;
    flex: 1;
    flex-shrink: 0;

    width:70%;

}

.waitlist-form{
    width:100%;
}

button {
    padding: 10px;
    background-color: #F60033;
    font-size: 1.1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    vertical-align: middle;
}

.success-message {
    display: none;
    font-size: 1.2em;
    color: #195928;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

button:hover {
    background-color: #D1002B;
}

.coming-soon {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}


.why-me {
    width: 100vw;
    height: 100vh;
    background: black url('./branding001.jpeg') no-repeat left center;
    background-size: auto 100%; /* Ensures the height fits and the left edge is always visible */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents any overflow issues */
    margin: 0; /* Ensures there is no default margin */
    padding: 0; /* Ensures there is no default padding */
}

.how-it-works{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .image-container{
    position: absolute;
    margin-top: 100vh;
    height: 100vh;
    width:100vw;
    background: url('./branding001.jpeg') no-repeat right center fixed;
    opacity: 0.4;
    z-index: 10;
} */

.why-me .second-page-btn{
    width:30%;
}

.why-me-heading{

    font-size: 3.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
}
.why-me-p{
    font-size: 1.4em;
    color: #fff;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.why-me-li{
    font-size: 1.2em;
    color: #fff;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    list-style-position: inside;
    margin-left: 70px
}
.centered-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60%;
}

.example-container{
    display: flex; 
    align-items: center; 
    margin-bottom: 45px;
}

.example-text-left{
    font-size: 1.1rem;
    color:white; 
    margin-right: 30px;
    align-items: flex-start;
    text-align: left;
}


.example-image-right{
    width: 35vw;
    margin-top: 10px;
}

.example-image-left{
    width: 20vw;
    margin-right: 30px;
}

.example-text-right{
    font-size: 1.1rem;
    color:white; 
}

.second-page-btn{
   
    margin-top: 25px;
    width: 40%;

}
.how-it-works .centered-container{
    width: 80%;
}


@media (max-width: 920px){

    .why-me-p{
        font-size: 1rem;
    }
    
    .second-page-btn{
        width:30%;
    }

    .why-me .second-page-btn{
        width: 70%;
    }

    .example-text-left{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .example-text-left p{
        font-size: 1rem;
        text-align:center;
    }

    .example-text-left h1{
        font-size: 1.8rem;
        text-align:center;
    }

    .why-me-li{
        font-size: 1rem;
    }
    .why-me-heading{
        font-size: 2.2rem;
    }

    .how-it-works .centered-container{
        width: 90%;
    }

    .how-it-works .centered-container .example-container{
        display: flex;
        width:90%;
        flex-direction: column;
    }
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    body, html {
        background-position: 85% center; /* Align background image to the right on small screens */
        overflow-x: hidden; 
        padding-left: 0px;
        align-items: center;
    }

    .why-me-heading{
        font-size: 2.3rem;
    }
    .why-me-p {
        font-size: 0.8em;
    }
    
    .why-me-li{
        font-size:1rem;
        margin-left:0;
    }


    .container {
        margin-top: 0; /* Remove top margin */
        margin-left: 0; /* Remove left margin */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        height: 100vh; /* Take full height of the viewport */

        justify-content: center;
        align-items: center;
    }

    .content-box {
        background-color: rgba(255, 255, 255, 0.7); /* Increase opacity by changing alpha value to 0.8 */
        padding: 15px;
        width: calc(100% - 40px); /* Ensure it has equal space on both sides */
        margin: 0 auto; /* Center the box */
        margin:0;
        align-self: center;
    }

    p {
        font-size: 1.2em;
    }

    input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        height: 45px;
    }

    .header {
        font-size: 1.5em;
        margin-left:15px;
    }

    .landing-page{
        padding:0;
    }

    .second-page-btn{
        width: 50%;
    }

    .example-text-right{
        font-size: 1.2rem;
        text-align: center;
    }
    .example-text-left{
        font-size: 1rem;
        margin:0;
        text-align: left;
    }
}


@media (max-width: 425px){


    .waitlist-title{
        text-align: center;
        font-size: 1.8rem;
    }

    .header{
        font-size:1rem;

    }

    .content p {
        text-align: center;
        font-size:1rem;
    }

    .example-image-right{
        width: 40vw;
        margin-bottom:10px;
    }

    .example-text-right{
        font-size: 0.9rem;
        text-align: center;
    }
    .example-text-left{
        font-size: 0.9rem;
        margin:0;
        text-align: left;
    }
    .example-image-left{
        width: 40vw;
        margin:0;
        margin-bottom:10px;
    }
    
    .why-me .centered-container{
        width:80%;
    }
    .why-me {
        background: black url('./branding001.jpeg') no-repeat left center;
    }
    
.second-page-btn{
   
    margin-top: 25px;
    width: 35vw;
    height:9vh;
    width:80%;

}

.why-me{
    background-position: center;
}

.why-me-heading{
    font-size: 2.3rem;
}
.why-me-p {
    font-size:0.8rem;
}

.whi-me-li{
    font-size:0.8rem
}

    
}

